{% extends 'base.html' %}
{% block content %}

<div class="flex flex-col items-center">

<div class="block p-6 m-6 max-w-sm bg-white rounded-lg border border-blue-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ tech.name }}</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">{{tech.type}}</span> </p>
    <p class="font-normal text-gray-700 dark:text-gray-400">
        <span class="font-bold">Specs :</span>{{ tech.specs }}</p>
    <p class="font-normal text-gray-700 dark:text-gray-400">
        <span class="font-bold">Price :</span>  ${{ tech.price }}</p>
</div>
<div class="">
    <a  class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-4 m-12 rounded focus:outline-none focus:shadow-outline"href="{% url 'tech_update' tech.id %}">Edit</a>
    <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-4 m-12 rounded focus:outline-none focus:shadow-outline" href="{% url 'tech_delete' tech.id %}">Delete</a>
  </div>
  
  <div class="block p-6 m-6 max-w-sm bg-white rounded-lg border border-blue-200 shadow-md  dark:bg-gray-800 dark:border-gray-700 dark items-center">
    <table class="border-4 border-slate-500 text-white m-auto">
      <thead class="border-2 border-slate-500">
        <tr><th class="p-2 border-2 border-slate-500">Provider</th><th class="p-2 border-2 border-slate-500">Price</th><th class="p-2 border-2 border-slate-500">Availability</th></tr>
      </thead>
      <tbody>
        {% for provider in tech.providers_set.all %}
          <tr>
            <td class="p-2 text-center border-2 border-slate-500">{{provider.name}}</td>
            <td class="p-2 text-center border-2 border-slate-500">{{provider.price}}</td>
            <td class="p-2 text-center border-2 border-slate-500">{{provider.stock}}</td>
            <td class="border-2 border-slate-500"><form class="p-2" action="{% url 'delete_provider' tech.id provider.id %}" method="POST">
                {% csrf_token %}
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 rounded focus:outline-none focus:shadow-outline block m-auto">X</button>
            </form></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="my-14">
    <!-- new code below -->
    <h3 class="text-center text-white font-bold">Add a provider</h3>
    <form method="post" class="text-white text-center" action="{% url 'add_provider' tech.id %}">
      {% csrf_token %}
      {{ providers_form.as_table}}
      <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 rounded focus:outline-none focus:shadow-outline block m-auto" value="Add Provider">
    </form>
    </div>
  </div>

  <hr>
  <div class="flex ">
<div class="block p-6 m-6 max-w-sm bg-white rounded-lg border border-blue-200 shadow-md  dark:bg-gray-800 dark:border-gray-700 dark items-center text-white">
  <h1 class="text-center m-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Perks</h1>
  <div class="">
    {% if tech.perk.count %}
      
        <div class="card">
          <div class="card-content">
            <table class="border-4 border-slate-500 text-white">
              <tr class="border-2 ">
                <th class="p-2 text-center border-2 border-slate-500">Name</th>
                <th class="p-2 text-center border-2 border-slate-500">Value</th>
              </tr>
              {% for p in tech.perk.all %}
              <tr class="">
                <td class="p-2 text-center border-2 border-slate-500">{{ p.name }}</td>
                <td class="p-2 text-center border-2 border-slate-500">{{ p.value }}</td>
              </tr>
      {% endfor %}
            </table>
          </div>
        </div>
    {% else %}
      <h5>No Perks :(</h5>
    {% endif %}
  </div>
  <!-- Available toys will come after this line -->
</div>
  <div class="block p-6 m-6 max-w-sm bg-white rounded-lg border border-blue-200 shadow-md  dark:bg-gray-800 dark:border-gray-700 dark items-center text-white ">
    <h3 class="text-center m-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Available perks</h3>
    {% if perks.count %}
    <table class="border-4 border-slate-500 text-white">
     <tr class="border-2">
          <th class="p-2 text-center border-2 border-slate-500">Name</th>
          <th class="p-2 text-center border-2 border-slate-500">Value</th>
        </tr>
      {% for perk in perks.all %}
        <tr>
          <td class="p-2 text-center border-2 border-slate-500">{{ perk.name }}</td>
          <td class="p-2 text-center border-2 border-slate-500">{{ perk.value }}</td>
          <td class="border-2 border-slate-500 p-2">
            <form action="{% url 'assoc_perk' tech.id perk.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 rounded focus:outline-none focus:shadow-outline block m-auto">Add</button>
            </form>
          </td>
        </tr>
      
      {% endfor %}
    </table>
    {% else %}
      <h5>{{tech.name}} Already Has All perks </h5>
    {% endif %}
  </div>

</div>

</div>


</div>
{% endblock %}
</body>
</html>