label{
    margin: 20px;
}
tr{
    padding: 24px;
}

#id_name,#id_type,#id_specs,#id_price {
    border-radius: 10px;
    max-width: 25rem;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity))
}
 